<li [ngClass]="{'list-group-item':true,'list-group-item-success': loveIts>0,  'list-group-item-danger':loveIts<=0 }">
    <h4 style="text-align: right"> {{ created_at | date: 'short'}}</h4>
    <h2> {{ title }}</h2>
  
  
  <p> {{ content }}</p>
  <div class="controls">
      <button class="btn btn-success open-button" (click)="loveIt()" type="button">
        Love It!
      </button>
      <button class="btn btn-danger close-button" (click)="dontLoveIt()" type="button">
        Don't Love It!
      </button>
    </div>
</li>
